.dash-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.dashboard-row{
    display: flex;
}
.menu-row {
  display: flex;

  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}
.icon-ro {
  display: flex;
  justify-content: flex-end;
}

.categoriestxt {
  display: flex;
  font-size: x-large;
  margin-top: 15px;
  color: black;
  margin-left: 2%;
}
.logoutbtn {
  display: flex;
  justify-content: center;

  margin-top: 200px;
}

.Search {
  display: flex;

  --background: white;
  color: black;
}
.col-men {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.home-logo {
  display: flex;

  width: 35%;
  height: 35%;
}
.logo-col {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  justify-items: center;
 
}
.icon-l {
  width: 70px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  color: black;
}

.dash-cont {
  --background: white;
}
.logout-row {
  display: flex;
  justify-content: center;
}

.tab {
  display: flex;
  --background: white;
}
.icon-l {
  display: flex;

  color: black;
}
/* .menu-button{
  display: flex;
  justify-content: center;
  --background: white;
} */
.tool-bar {
  display: flex;
  --background: white;

}
.res-name {
  display: flex;
  color: black;
  font-weight: bold;
}
.dish-name {
  display: flex;
  color: black;
  font-style: normal;
  margin-top: 5%;
}
.price {
  display: flex;
  color: darkgreen;
  font-style: italic;
}
.col-text {
  display: flex;
  padding-left: 10%;
}
