.image{
    display:flex;
    justify-content: center;
    margin-top: 100px;
}
.getstartbtn{
    display: flex;
    justify-content: center;
    margin-top: 300px;
  
    
    
}
.cont{
    display: flex;
    justify-content: center;
     
}