.tabBar{
    display: flex;
    --background: white;
}
.cart-count{
display: flex;
margin-top: -25px;
margin-left: 30px;
font-size: large;
}
.fav-count{
    display: flex;
     
    margin-top: -25px;
    margin-left: 30px;
    font-size: large;
    
}